@import './reset.css';
* {
    padding: 0;
    margin: 0;
}

#wrapper {
    background: url("https://cdn3.f-cdn.com/contestentries/44321/3978939/526efa7f16ab4_thumbCard.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 5000px 5000px;
    .background {
        position: absolute;
        clip: rect(0 100vw 100vh 0);
        width: 5000px;
        height: 5000px;
        z-index: -1;
    }
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
}

#minimap {
    background: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    opacity: 0.9;
}

#joystick-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}