@import './reset.css';
* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

#wrapper {
    background: url("./../client/water1.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    .background {
        position: absolute;
        clip: rect(0 100vw 100vh 0);
        width: 5000px;
        height: 5000px;
        z-index: -1;
    }
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
}

#minimap {
    background: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    opacity: 0.9;
}

#joystick-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.score-wrapper {
    background: rgba(14, 41, 77, 0.5);
    position: absolute;
    display: inline;
    right: 1em;
    top: 1em;
    padding: 1em;
    img {
        width: 2em;
    }
    span#score{
        color: white; 
        font-family: "Arial", sans-serif;
        padding-left: 1em;
    }
}